.loaderMain {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  background: #eee8e85e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  isolation: isolate;
}

.loaderMain::after {
  content: "";
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 0;
}

.customLoader {
  width: 60px;
  height: 60px;
  display: grid;
  border: 4px solid transparent;
  border-radius: 50%;
  border-color: #c6c6c6 transparent;
  animation: loaderSpin 1s infinite linear;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.customLoader::before,
.customLoader::after {
  content: "";
  grid-area: 1 / 1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.customLoader::before {
  border-color: var(--color-primary) transparent;
  animation: loaderSpin 0.8s infinite linear reverse;
}

.customLoader::after {
  margin: 8px;
}

@keyframes loaderSpin {
  to {
    transform: rotate(1turn);
  }
}
